#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

h3.page-header {
    margin-top: 54px;
}

.main_wall_container .item {
    margin: 5px;
}

.main_wall_container img {
    width: 250px;
}

.main_wall_container .image-hover {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.main_wall_container .image-hover a {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main_wall_container .image-hover:hover {
    display: inline;
}

.main_wall_container img:hover~.image-hover {
    display: inline;
}