<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container" ng-show="loggedIn">
    <p class="lead">Paste a link to an image to add it to your own collection!</p>
    <form ng-submit="addPicture()">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
          <input class="form-control" ng-model="newPicture" placeholder="http://link-to-image.com/image.jpg" />
        </div>
        <button class="btn btn-success col-sm-1">Submit</button>
      </div>
    </form>
  </div>

  <div class="container" ng-hide="loggedIn">
    <p class="lead">Sign up or Login to add your own pictures!</p>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <input class="form-control" placeholder="Name">
      </div>
      <div class="col-sm-3">
        <input class="form-control" placeholder="Password">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4"></div>
      <a href="/signup"><button class="btn btn-success col-sm-1"><b>Sign Up</b></button></a>
      <a href="/login"><button class="btn btn-info col-sm-2"><b>Login</b></button></a>
      <a class="btn btn-twitter col-sm-2" href="" ng-click="loginOauth('twitter')">
        <i class="fa fa-twitter"></i> Connect with Twitter
      </a>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1 class="page-header">
        Everyone
        <small ng-show="filterSelected !== false">filtered for {{filterSelected}}</small>
      </h1>
      <small>*click a picture to visit user's collection</small>

      <div class="main_wall_container" masonry-wall-dir=".item" 
          masonry-wall-options="{
              gutter: 0, 
              transitionDuration: '0.3s' }">
          <div class="item" ng-repeat="picture in pictures" custom-directive masonry-item-dir> 
              <img ng-src="{{picture.url}}" onError="this.onerror=null;this.src='/assets/images/placeholder.png';" />
              
              <div class="image-hover" title="{{picture.url}}">
                <a ng-href="/c/{{picture.user.name}}">{{picture.user.name}}'s Collection</a>
              </div>
          </div>
      </div>
    </div>

    <div class="col-md-2">
      <h3 class="page-header">User Filters:</h3>
      <ul>
        <li ng-repeat="username in usernames">
          <a href="" ng-click="filterSelect($index)"
              ng-class="{ 'filtered': filterSelected === username }">{{username}}</a>
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="clearFilter()">clear filter</button>
    </div>
  </div>
</div>

<!--
<footer class="footer">
  <div class="container">
      <p>
        FreeCodeCamp Pinterest Basejump | 
        <a href="http://github.com/oab00">@oab00</a>
      </p>
  </div>
</footer>
-->