.collection_wall_container .item {
    margin: 5px;
}

.collection_wall_container img {
    width: 250px;
}

.collection_wall_container .image-hover {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.collection_wall_container .image-hover a {
    color: rgb(255, 100, 100);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
}

.collection_wall_container .image-hover:hover {
    display: inline;
}

.collection_wall_container img:hover~.image-hover {
    display: inline;
}